<section class="about-us" id="about">
  <div class="container about-us-container">
    <div class="about-us-content">
      <h2 class="about-us-title">Про нас</h2>
      <div class="about-us-description">
        <p>
          У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври,
          що приносять радість та задоволення. Наша місія — пропонувати
          високоякісні десерти, які поєднують у собі вишуканий смак, свіжі
          інгредієнти та естетичний вигляд.
        </p>
      </div>
    </div>

    <div class="about-us-gallery">
      <div class="swiper about-us-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide about-us-slide">
            <img
              loading="lazy"
              srcset="
                /img/about-us/about-us-1.avif    1x,
                /img/about-us/about-us-1-2x.avif 2x
              "
              width="335"
              height="251"
              alt="Фото наших десертів"
            />
          </div>
          <div class="swiper-slide about-us-slide">
            <img
              loading="lazy"
              srcset="
                /img/about-us/about-us-2.avif    1x,
                /img/about-us/about-us-2-2x.avif 2x
              "
              width="335"
              height="251"
              alt="Фото наших десертів"
            />
          </div>
          <div class="swiper-slide about-us-slide">
            <img
              loading="lazy"
              srcset="
                /img/about-us/about-us-3.avif    1x,
                /img/about-us/about-us-3-2x.avif 2x
              "
              width="335"
              height="251"
              alt="Фото наших десертів"
            />
          </div>
          <div class="swiper-slide about-us-slide">
            <img
              loading="lazy"
              srcset="
                /img/about-us/about-us-4.avif    1x,
                /img/about-us/about-us-4-2x.avif 2x
              "
              width="335"
              height="251"
              alt="Фото наших десертів"
            />
          </div>
        </div>
      </div>

      <div class="about-us-controls">
        <button
          class="about-us-nav-btn about-us-nav-btn-prev"
          aria-label="Попередній слайд"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use href="/img/icons.svg#icon-arrow_back"></use>
          </svg>
        </button>

        <div class="swiper-pagination about-us-pagination"></div>

        <button
          class="about-us-nav-btn about-us-nav-btn-next"
          aria-label="Наступний слайд"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use href="/img/icons.svg#icon-arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
