<section class="dessert-list-section reveal" id="dessert-list-section">
  <div class="container">
    <div class="desert-top-row">
      <div class="dessert-title-wrapper">
        <h2 class="dessert-list-title">Солодощі</h2>
        <p class="dessert-list-subtitle">
          Спробуйте наші смачні десерти, які вас здивують!
        </p>
      </div>
      <div class="dessert-list-category-desktop" id="category-desktop"></div>
      <div class="dessert-list-category-mobile">
        <div id="category-mobile"></div>
      </div>
    </div>
    <span class="loader hidden" id="loader"></span>
    <div class="dessert-list-wrapper">
      <ul class="dessert-list" id="dessert-list"></ul>
    </div>
    <div class="dessert-list-button-container">
      <button class="js-load-more load-more-hidden" id="load-more-btn">
        Завантажити ще
      </button>
    </div>
  </div>
</section>
