<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-content">
      <a href="index.html" class="footer-logo">
        <svg
          class="logo-icon"
          viewBox="0 0 144 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-label="Солодка Майстерня"
          width="299"
          height="64"
        >
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <nav class="footer-nav">
        <ul>
          <li><a href="#dessert-list-section">Солодощі</a></li>
          <li><a href="#about">Про нас</a></li>
          <li><a href="#reviews">Відгуки</a></li>
          <li><a href="#faq">Часті питання</a></li>
        </ul>
      </nav>

      <div class="footer-social">
        <a
          href="https://www.facebook.com"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="social-icon"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>

        <a
          href="https://www.instagram.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="social-icon"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>

        <a
          href="https://www.youtube.com"
          aria-label="YouTube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="social-icon"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="footer-divider">
      <div class="footer-copyright"></div>
      <p class="footer-text">
        &copy; 2026 Солодка Майстерня.
        <a href="/privacy-policy">Усі права захищені</a>
      </p>
    </div>
  </div>
</footer>
