<header class="header">
  <div class="header-container container">
    <!-- Логотип -->
    <a href="/index.html" class="header-logo" id="logo" aria-label="На головну">
      <svg class="icon-logo" width="146px" height="31px">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <!-- Кнопка бургер-меню (мобільна) -->
    <button class="burger-menu" id="burger-btn" aria-expanded="false" aria-controls="menu" aria-label="Відкрити меню">
      <svg class="burger-icon" width="24px" height="24px">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- Блок навігації -->
    <nav class="header-nav" id="menu">
      <ul class="header-menu-list">
        <li class="header-menu-item"><a href="#dessert-list-section" class="nav-link">Солодощі</a></li>
        <li class="header-menu-item"><a href="#about-us" class="nav-link">Про нас</a></li>
        <li class="header-menu-item"><a href="#feedback-list" class="nav-link">Відгуки</a></li>
        <li class="header-menu-item"><a href="#questions" class="nav-link">Часті питання</a></li>
      </ul>
      <!-- Кнопка навігації -->
      <a href="#desserts" class="header-btn">До покупок</a>
    </nav>
  </div>
</header>
