<header class="header">
  <div class="header-container">

    <a href="#" class="logo-link" aria-label="Головна сторінка">
      <svg class="logo-svg" width="146px" height="31px">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <button class="burger-btn" id="burgerToggle" aria-label="Відкрити меню">
      <svg class="menu-icon" width="24px" height="24px">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="nav-menu" id="menu">

      <div class="menu-mobile-header">
        <a href="#" class="logo-link" aria-label="Головна сторінка">
          <svg class="logo-svg" width="146px" height="31px">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <button class="close-btn" id="burgerClose" aria-label="Закрити меню">
          <svg class="close-icon" width="24px" height="24px">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <div class="nav-links-wrapper">
        <a href="#products" class="nav-link">Солодощі</a>
        <a href="#about" class="nav-link">Про нас</a>
        <a href="#reviews" class="nav-link">Відгуки</a>
        <a href="#faq" class="nav-link">Часті питання</a>
      </div>

      <a href="#products" class="btn-action">До покупок</a>
    </nav>

  </div>
</header>


<script src="js/header.js"></script>
</body>