<section class="hero-section" id="hero-section" aria-label="Головний розділ">
  <div class="container hero-content">
    <div class="hero-box">
      <h1 class="hero-title" data-aos="fade-right" data-aos-delay="200">
        Ласкаво просимо до Солодкої Майстерні
      </h1>
      <p class="hero-text" data-aos="fade-left" data-aos-delay="400">
        Відкрийте для себе наші неперевершені десерти, приготовані з любов'ю та
        увагою до деталей. Кожен шматочок — це справжнє свято смаку!
      </p>
    </div>
    <a class="hero-link" href="#about">Що про нас думають</a>
  </div>
</section>
