<section class="popular-products">
  <div class="container">
    <h2 class="popular-title">Наші бестселлери</h2>

    <div class="swiper popular-swiper">
      <div class="swiper-wrapper" id="popular-products-list"></div>

      <div class="popular-controls-wrapper">
        <div class="popular-pagination-wrapper">
          <div class="swiper-pagination popular-pagination"></div>
        </div>

        <div class="popular-nav-buttons">
          <button
            type="button"
            class="popular-nav-btn-prev"
            aria-label="Попередній слайд"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <use href="/img/icons.svg#icon-arrow_back"></use>
            </svg>
          </button>
          <button
            type="button"
            class="popular-nav-btn-next"
            aria-label="Наступний слайд"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <use href="/img/icons.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
