.choices[data-type*='select-one']::after,
.choices[data-type*='select-one'].is-open::after {
  display: none;
}

.choices__inner {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-neutral-darker) !important;
  border-radius: 6px;
  padding: 8px 12px;
  background: var(--opacity-transparent);
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral);
  transition:
    border-color var(--transition),
    background-color var(--transition),
    color var(--transition);
}

.choices__inner:hover,
.choices__inner:focus {
  border-color: var(--color-ice-cold-darker) !important;
}

.choices.selected-value .choices__inner {
  color: var(--color-scheme-1-text);
}

.choices.is-open .choices__inner {
  background: var(--color-ice-cold-lighter);
  border-radius: 6px;
  color: var(--color-scheme-1-text);
}

.choices__list--single {
  padding: 0;
  flex: 1;
}

.choices__placeholder {
  color: #2c2c2a;
  opacity: 1;
}

.sel-chevron {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: fill var(--transition);
}

.select-icon {
  fill: var(--opacity-neutral-darkest-60);
}

.choices.is-open .sel-chevron {
  transform: rotate(180deg);
}

.choices__list--dropdown {
  border: 2px solid var(--color-neutral-darker) !important;
  border-radius: 6px;
  padding: 8px 12px;
  background: var(--color-ice-cold-lighter);
  z-index: 199;
  margin-top: 2px !important;
  box-shadow: none;
  overflow: clip;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: var(--color-ice-cold-lighter);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: var(--choices-dropdown-item-padding, 0);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5;
  color: var(--color-neutral-darkest);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list--dropdown .choices__item--selectable.is-selected,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-selected {
  position: relative;
  background: var(--color-ice-cold-lighter) !important;
}

.choices__list--dropdown .choices__item.is-selected {
  width: fit-content;
  border-bottom: 1px solid var(--color-neutral-darkest);
  padding-bottom: 2px;
}

.choices__list--dropdown {
  border: 2px solid var(--color-neutral-darker) !important;
  border-radius: 6px;
  padding: 8px 12px;
  background: var(--color-ice-cold-lighter);
  z-index: 99;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  box-shadow: none;
  overflow-y: auto;
  max-height: 368px;
  scrollbar-width: thin;
  scrollbar-color: var(--color-wewak-light);
}

.choices__list::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.choices__list::-webkit-scrollbar-track {
  background: var(--color-wewak-light);
  margin: 18px 0;
  border-radius: 8px;
  width: 8px;
}

.choices__list::-webkit-scrollbar-thumb {
  background: var(--color-wewak-darker);
  border-radius: 8px;
  width: 8px !important;
  height: 10px !important;
}

.choices__list--dropdown .choices__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
