.dessert-list-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.dessert-list-subtitle {
  text-align: center;
  font-size: 18px;
  margin-top: 24px;
}

.dessert-list-category-desktop {
  display: none;
}

.dessert-list-category-mobile {
  margin-top: 40px;
  width: 100%;
}

.dessert-list-wrapper {
  width: 100%;
}

.dessert-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dessert-item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  border: 1px solid var(--color-scheme-1-border);
  border-radius: 16px;
  padding: 16px;
  width: 100%;
}

.dessert-image {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.dessert-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dessert-category-name {
  font-size: 14px;
  margin-bottom: 12px;
}

.dessert-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.dessert-description {
  font-size: 14px;
}

.dessert-footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dessert-price {
  font-weight: 600;
  font-size: 20px;
}

.dessert-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--color-neutral-darkest);
  border-radius: 100px;
  background-color: transparent;
  padding: 10px;
  width: 44px;
  height: 44px;

  transition: all 0.3s ease-in-out;
}

.dessert-modal-btn:hover,
.dessert-modal-btn:focus {
  border: 2px solid var(--color-neutral-darkest);
  background: var(--color-wewak);
}

.dessert-modal-btn:active {
  border: 2px solid var(--color-neutral-darkest);
  background: var(--color-wewak-dark);
}

.dessert-modal-btn:disabled {
  border: 2px solid var(--color-neutral-darkest);
  opacity: 0.3;
}

.btn-open-modal-icon {
  width: 24px;
  height: 24px;
}

.dessert-list-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.js-load-more {
  display: inline-block;
  width: 100%;
  border: 2px solid var(--color-wewak);
  border-radius: 100px;
  padding: 10px 24px;
  background: var(--color-wewak);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);

  transition: all 0.3s ease-in-out;
}

.js-load-more:hover,
.js-load-more:focus {
  border: 2px solid var(--color-neutral-darkest);
  background-color: transparent;
}

.js-load-more:active {
  border: 2px solid var(--color-neutral-darkest);
  background: var(--color-wewak-light);
}

.js-load-more:disabled {
  border: 2px solid var(--color-wewak);
  background: var(--color-wewak);
  opacity: 0.3;
}

.load-more-hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desert-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
  }

  .dessert-list-title {
    text-align: start;
  }

  .dessert-list-subtitle {
    text-align: start;
    margin-top: 8px;
    padding-right: 10px;
  }

  .dessert-list-category-mobile {
    width: 256px;
    align-self: flex-end;
    margin-top: 0;
  }

  .dessert-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 32px;
  }

  .dessert-item {
    width: calc(50% - 8px);
    align-items: stretch;
    overflow: hidden;
    gap: 16px;
  }

  .dessert-image {
    width: 100%;
    max-width: 100%;
    height: 227px;
    object-fit: cover;
  }

  .dessert-content-wrapper {
    flex-grow: 1;
  }

  .dessert-header-content {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 1440px) {
  .desert-top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }

  .dessert-list-title {
    text-align: center;
  }

  .dessert-list-subtitle {
    text-align: center;
    font-size: 18px;
    margin-top: 24px;
    padding: 0;
  }

  .dessert-list-category-mobile {
    display: none;
  }

  .dessert-list-category-desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    column-gap: 32px;
    padding: 0 58px;
    width: 100%;
  }

  .category-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 24px;
    border: 2px solid var(--color-neutral-darker);
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
    user-select: none;
    white-space: nowrap;
  }

  .category-btn:has(input:checked) {
    background: var(--color-wewak-dark);
    border: 2px solid var(--color-neutral-darkest);
  }

  .category-btn:hover,
  .category-btn:focus {
    border-color: var(--color-wewak);
  }

  .category-btn:disabled {
    opacity: 0.3;
  }

  .dessert-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 40px;
  }

  .dessert-item {
    width: calc((100% - 3 * 24px) / 4);
    align-items: stretch;
    overflow: hidden;
    gap: 16px;
  }

  .dessert-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .dessert-content-wrapper {
    flex-grow: 1;
  }

  .dessert-header-content {
    flex-grow: 1;
  }

  .js-load-more {
    width: 198px;
    font-weight: 500;
    font-size: 16px;
  }
}
