.feedback-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  text-align: center;
}

.feedback-list-title {
  margin-bottom: 24px;
}

.feedback-list-subtitle {
  font-size: 18px;
}

.feedback-slider-wrapper {
  position: relative;
  width: 100%;
  overflow: visible;
}

.feedback-slider-container {
  overflow: hidden;
  width: 100%;
  height: 208px;
  margin-bottom: 32px;
  box-sizing: content-box;
}

.feedback-slider-container>.feedback-list {
  display: flex;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.feedback-slider-container>.feedback-list>.feedback-card {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 12px;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.feedback-raty-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}

.star-rating-container {
  display: flex;
  gap: 4px;
}

.star-icon {
  fill: var(--color-neutral-lighter, #e3e3e3);
  stroke: var(--color-neutral-darkest, #080c0c);
  stroke-width: 1.5;
  transition: var(--transition);
}

.star-icon.is-active {
  fill: var(--color-neutral-darkest, #080c0c);
}

.star-icon.is-half {
  fill: unset;
}

.feedback-description {
  font-size: 18px;
  color: var(--color-neutral-darkest);
  margin-bottom: 0;
  flex-grow: 1;
  text-align: left;
}

.feedback-author {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-neutral-darkest);
  margin-top: auto;
  text-align: left;
}

.feedback-scroll-wrap {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-right: 10px;
  overscroll-behavior: contain;




  touch-action: pan-y;
  cursor: pointer;
  cursor: grab;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.feedback-scroll-wrap:active {
  cursor: grabbing;
}


.feedback-scroll-wrap::-webkit-scrollbar {
  width: 9px;
}

.feedback-scroll-wrap::-webkit-scrollbar-track {
  background: transparent;
}

.feedback-scroll-wrap::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-lighter, #e3e3e3);
  background-clip: padding-box;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 70%;

  transition: var(--transition);
}


.feedback-scroll-wrap::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-dark, #a1a1a1);
}










.feedback-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  position: relative;
  width: 100%;
}


.feedback-pagination-wrapper {
  position: relative;
  width: 100px;
  height: 10px;
  display: flex;
  align-items: center;
}











.feedback-arrows-group {
  display: flex;
  gap: 16px;
  margin-left: auto;
}




.feedback-mobile-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--color-scheme-1-background);
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 50%;
  cursor: pointer;
  padding: 12px;
  transition: var(--transition);
}


.feedback-mobile-arrow svg {
  fill: var(--color-neutral-darkest, #080c0c);
  transition: var(--transition);
}


.feedback-mobile-arrow:hover,
.feedback-mobile-arrow:focus-visible {
  background-color: var(--color-wewak);
  border-color: var(--color-neutral-darkest);
}

.feedback-mobile-arrow:hover svg,
.feedback-mobile-arrow:focus-visible svg {
  fill: var(--color-neutral-darkest);
}


.feedback-mobile-arrow:active,
.feedback-mobile-arrow-prev.is-active,
.feedback-mobile-arrow-next.is-active {
  background-color: var(--color-wewak-dark, #c38383);
  border-color: var(--color-neutral-darkest);
}

.feedback-mobile-arrow:active svg {
  fill: var(--color-neutral-darkest);
}


.feedback-mobile-arrow:disabled,
.feedback-mobile-arrow.swiper-button-disabled {
  border-color: var(--color-neutral-lighter);
  background-color: var(--color-scheme-1-background);
  cursor: not-allowed;
}

.feedback-mobile-arrow:disabled svg,
.feedback-mobile-arrow.swiper-button-disabled svg {
  fill: var(--color-neutral-lighter);
}

.feedback-arrow {
  display: none;
}



@media screen and (min-width: 768px) {
  .feedback-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .feedback-title-wrapper {
    margin-bottom: 40px;
  }

  .feedback-slider-container {
    height: 233px;
    margin-bottom: 48px;
  }

  .feedback-slider-wrapper {
    position: relative;
    width: 100%;
    overflow: visible;
    height: auto;
  }

  .feedback-description {
    margin-left: 12px;
  }


  .feedback-scroll-wrap {
    margin-bottom: 14px;
    padding-bottom: 8px;
  }

  .feedback-arrows-group {
    display: none;
  }






  .feedback-controls {
    justify-content: center;
    margin-top: 32px;
  }

  .feedback-pagination-wrapper {
    margin: 0;
  }










  .feedback-slider-wrapper>.feedback-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 116.5px;
    transform: translateY(-50%);
    z-index: 10;
    width: 48px;
    height: 48px;
    background-color: var(--color-scheme-1-background);
    border: 2px solid var(--color-neutral-darkest);
    border-radius: 50%;
    cursor: pointer;
    padding: 12px;
    transition: var(--transition);
  }


  .feedback-slider-wrapper>.feedback-arrow svg {
    fill: var(--color-neutral-darkest, #080c0c);
    transition: var(--transition);
  }


  .feedback-slider-wrapper>.feedback-arrow:hover,
  .feedback-slider-wrapper>.feedback-arrow:focus-visible {
    background-color: var(--color-wewak);
    border-color: var(--color-neutral-darkest);
  }

  .feedback-slider-wrapper>.feedback-arrow:hover svg,
  .feedback-slider-wrapper>.feedback-arrow:focus-visible svg {
    fill: var(--color-neutral-darkest);
  }


  .feedback-slider-wrapper>.feedback-arrow:active,
  .feedback-slider-wrapper>.feedback-arrow-prev.is-active,
  .feedback-slider-wrapper>.feedback-arrow-next.is-active {
    background-color: var(--color-wewak-dark, #c38383);
    border-color: var(--color-neutral-darkest);
  }

  .feedback-slider-wrapper>.feedback-arrow:active svg {
    fill: var(--color-neutral-darkest);
  }


  .feedback-slider-wrapper>.feedback-arrow:disabled,
  .feedback-slider-wrapper>.feedback-arrow.swiper-button-disabled {
    border-color: var(--color-neutral-lighter);
    background-color: var(--color-scheme-1-background);
    cursor: not-allowed;
  }

  .feedback-slider-wrapper>.feedback-arrow:disabled svg,
  .feedback-slider-wrapper>.feedback-arrow.swiper-button-disabled svg {
    fill: var(--color-neutral-lighter);
  }

  .feedback-slider-wrapper>.feedback-arrow-prev {
    left: -22px;
  }

  .feedback-slider-wrapper>.feedback-arrow-next {
    right: -22px;
  }

  .feedback-slider-container>.feedback-list>.feedback-card {
    padding: 16px;
  }


  .feedback-scroll-wrap::-webkit-scrollbar {
    width: 9px;
  }

  .feedback-scroll-wrap::-webkit-scrollbar-thumb {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 60%;
  }
}



@media screen and (min-width: 1440px) {
  .feedback-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .feedback-title-wrapper {
    margin-bottom: 80px;
  }

  .feedback-description {
    margin-left: 0px;
  }

  .feedback-slider-wrapper {
    height: auto;
  }

  .feedback-slider-wrapper>.feedback-arrow {
    top: 116.5px;
  }

  .feedback-slider-wrapper>.feedback-arrow-prev {
    left: -24px;
  }

  .feedback-slider-wrapper>.feedback-arrow-next {
    right: -24px;
  }

  .feedback-slider-container>.feedback-list>.feedback-card {
    padding: 32px;
  }

  .feedback-scroll-wrap::-webkit-scrollbar {
    width: 5px;
  }

  .feedback-scroll-wrap::-webkit-scrollbar-thumb {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 60%;
  }
}