.header {
  width: calc(100% - var(--scrollbar-width));
  background: var(--color-scheme-1-background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 375px;
  padding: 17.5px 20px;
  margin: 0 auto;
}

.logo-link {
  cursor: pointer;
}

.burger-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav-menu {
  display: none;
}

.nav-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-scheme-1-background);
  z-index: 99;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition),
    visibility var(--transition);
}

.nav-menu-overlay.open {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.menu-mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 375px;
  margin-bottom: 18px;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 32px;
}

.nav-menu-overlay .nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  cursor: pointer;
  transition: transform var(--transition);
  position: relative;
  padding-bottom: 2px;
}

.nav-menu-overlay .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-neutral-darkest);
  transform: scaleX(0);
  transition:
    transform var(--transition),
    color var(--transition),
    opacity var(--transition),
    background-color var(--transition);
}

.nav-menu-overlay .nav-link:hover::after,
.nav-menu-overlay .nav-link:focus::after {
  transform: scaleX(1);
}

.nav-menu-overlay .nav-link:active {
  color: var(--color-wewak);
}

.nav-menu-overlay .nav-link:active::after {
  background-color: var(--color-wewak);
}

.nav-menu-overlay .link-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--color-wewak);
  border: 2px solid var(--color-wewak);
  color: var(--color-neutral-darkest);
  font-size: 16px;
  font-weight: 500;
  border-radius: 100px;
  padding: 8px 20px;
  margin: 46px auto 0 auto;
  cursor: pointer;
  transition:
    border-color var(--transition),
    background-color var(--transition);
}

.nav-menu-overlay .link-action:hover,
.nav-menu-overlay .link-action:focus {
  border-color: var(--color-neutral-darkest);
  background-color: transparent;
}

.nav-menu-overlay .link-action:active {
  border-color: var(--color-neutral-darkest);
  background-color: var(--color-wewak-light);
}

.nav-menu-overlay .container {
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .nav-menu-overlay {
    display: none;
  }

  .header-container {
    max-width: 768px;
    padding: 14px 32px;
  }

  .burger-btn {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .nav-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
    position: relative;
    padding-bottom: 2px;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-neutral-darkest);
    transform: scaleX(0);
    transition:
      transform var(--transition),
      color var(--transition),
      opacity var(--transition),
      background-color var(--transition);
  }

  .nav-link:hover::after,
  .nav-link:focus::after {
    transform: scaleX(1);
  }

  .nav-link:active {
    color: var(--color-wewak);
  }

  .nav-link:active::after {
    background-color: var(--color-wewak);
  }

  .link-action {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-wewak);
    background: var(--color-wewak);
    color: var(--color-neutral-darkest);
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    padding: 8px 20px;
    cursor: pointer;
    transition:
      border-color var(--transition),
      background-color var(--transition);
  }

  .link-action:hover,
  .link-action:focus {
    border-color: var(--color-neutral-darkest);
    background-color: transparent;
  }

  .link-action:active {
    border-color: var(--color-neutral-darkest);
    background-color: var(--color-wewak-light);
  }
}

@media (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    justify-content: space-between;
    padding: 14px 64px;
  }

  .nav-list {
    gap: 32px;
  }

  .nav-menu {
    gap: 32px;
  }
}
