.hero-section {
  background-image: url('/img/hero/hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 227px 20px 155px 20px;
  margin: 0 auto;
}

@media screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('/img/hero/hero-mobile-2x.jpg');
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0;
  max-width: 335px;
  margin: 0 auto;
}

.hero-box {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-white);
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align:center;
  color: var(--color-white);
}

.hero-link {
  font-family: var(--font-family);
  border: 2px solid var(--color-wewak);
  border-radius: 100px;
  padding: 8px 24px;
  width: 100%;
  background: var(--color-wewak);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);

  font-weight: 500;
  font-size: 16px;
  color: var(--color-neutral-darkest);
}

.hero-link:hover,
.hero-link:focus {
  border: 2px solid var(--color-neutral-darkest);
  background: var(--color-scheme-1-background);
}

.hero-link:active {
  border: 2px solid var(--color-neutral-darkest);
  background: var(--color-wewak-light);
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url('/img/hero/hero-tablet.jpg');
    padding: 396px 32px 325px 32px;
  }

  .hero-content {
    max-width: 704px;
  }

  .hero-link {
    max-width: fit-content;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('/img/hero/hero-tablet-2x.jpg');
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url('/img/hero/hero-desktop.jpg');
    width: 1440px;
    padding: 378px 0 306px 0;
  }

  .hero-content {
    max-width: 768px;
  }

  .hero-title {
    font-size: 56px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('/img/hero/hero-desktop-2x.jpg');
  }
}