.hero-section {
  background-image: url('/img/hero/hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 320px;
  padding: 108.5px 32px;
  margin: 0 auto;
}
@media screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('/img/hero/hero-mobile-2x.jpg');
  }
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0;
  min-width: 320px;
  max-width: 335px;
  margin: 0 auto;
}
.hero-box {
  display: flex;
  gap: 24px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-white);
}
.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
}
.hero-link-button {
  font-family: var(--font-family);
  border: 1px solid var(--color-wewak);
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  background: var(--color-wewak);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-link-button:hover {
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 100px;
  background: var(--color-wewak);
}
.hero-link-button:active,
.hero-link-button:focus {
  border: 2px solid var(--color-neutral-darkest);
  background: var(--color-wewak-dark);
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 311.5px;
    padding-bottom: 311.5px;
  }
  .hero-content {
    max-width: 560px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-section {
    width: 1440px;
    padding: 259px 64px;
  }
  .hero-title {
    font-size: 56px;
  }
}
