.swiper-pagination:not(.swiper-pagination-bullets-dynamic) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
  top: 0 !important; 
  left: 0;
  width: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-neutral-light, #b4b6b6);
  opacity: 1;
  transition: var(--transition);
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-neutral-darkest, #080c0c);
  opacity: 1;
}


.swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--color-scheme-1-hover, #c38383);
}

.swiper-pagination .popular-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-horizontal .swiper-pagination-bullets-dynamic {
  overflow: hidden;
}